<!doctype html>
<!--To Do List in Angular-->
<html>
<head>
  <link href="toDoList.css" rel="stylesheet" type="text/css">
</head>

<body>
<div ng-app="myApp" ng-controller="myCtrl">
  <h1>My to do list:</h1>

  <label>To do:
    <input ng-model="task" on-enter="submitTask()">
  </label>

  <p ng-repeat="task in tasks" class="ng-cloak">
    <label ng-class="{strike:{{task.checked}}}">
      <input type="checkbox" ng-checked={{task.checked}} ng-model="checked" ng-click="moveTask($index, checked, task)">{{task.name}}
    </label>
    <button ng-show={{task.checked}} ng-click="removeTask($index)">Remove</button>
  </p>
</div>

<script src="angular.min.js"></script>
<script src="toDoList.js"></script>

</body>
</html>
